<section class="body_menu">
    <div class="menu">
        <div class="heading_menu">
            <h1>enil's pizza</h1>
            <h3>&mdash;menu&mdash;</h3>
        </div>
        <div class="food_items">
            <img src="images/chicken.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Chicken Pizza</h5>
                    <p>Pizza sauce, Chicken, Sweet Corn, green pepper and cheese</p>
                    <p><strong>Large</strong>  $19</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $16</p><a href="#"><button>Order</button></a>            
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/veg.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Chicken Pizza</h5>
                    <p>Pizza Sauce, Sweet Corn, Broccoli, Black Olives, Green Pepper, Onions and Cheese</p>
                    <p><strong>Large</strong>  $18</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $14</p><a href="#"><button>Order</button></a>          
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/steak.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>BBQ Lovers</h5>
                    <p>Pizza sauce, BBQ Steak, Onions and cheese</p>
                    <p><strong>Large</strong>  $19</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $16</p><a href="#"><button>Order</button></a>            
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/pepperoni.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Pepperoni</h5>
                    <p>Pizza sauce, Pepperoni and cheese</p>
                    <p><strong>Large</strong>  $18</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $17</p><a href="#"><button>Order</button></a>            
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/haw.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Hawaiin Pizza</h5>
                    <p>Pizza sauce, Pineapple, Bacon and cheese</p>
                    <p><strong>Large</strong>  $17</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $13</p><a href="#"><button>Order</button></a>            
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/supremo.png" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Supremo</h5>
                    <p>Pizza sauce,BBQ Steak, Chicken, Minced Meat, Pepperoni, Onions, green pepper and cheese</p>
                    <p><strong>Large</strong>  $21</p><a href="#"><button>Order</button></a>
                    <p><strong>Medium</strong>  $19</p><a href="#"><button>Order</button></a>            
            
                </div>
            </div>
        </div>
        <div class="food_items">
            <img src="images/pizza special offers.jpg" alt="">
            <div class="details">
                <div class="details_sub">
                    <h5>Special Offer</h5>
                    <p>2 Large Pizzas, Extra Toppings, Extra Cheese and 2 Bottles Of Coke</p>
                    <p><strong>Price</strong>  $50</p><a href="#"><button>Order</button></a>
                </div>
            </div>
        </div>
    </div>
    
</section>