<nav class="nav collapsible">
    <a href="#"><img class="logo_image" src="images/prnzlogo.png" alt=""></a>
    <img class="nav_toggler nav-image" src="images/nav.png" alt="">
    <ul class="list nav_list collapsible__content">
        <li class="nav_item"><img class="image_nav" src="images/home.png" alt=""><a href="#">Home</a></li>
        <li class="nav_item"><img class="image_nav" src="images/pizza-deliver.png" alt=""><a href="#">Take-Away</a></li>
        <li class="nav_item"><img class="image_nav" src="images/support.png" alt=""><a href="#">Contact</a></li> 
    </ul>
</nav>

<script src="js/main.js"></script>