<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/steak.png" alt="">
        <p class="pizza_type"><strong>BBQ Lovers</strong><br>
        Tomato Sauce, BBQ Steak, Onions, Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $19</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $16</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/chicken.png" alt="">
        <p class="pizza_type"><strong>Chicken Lovers</strong><br>
        Tomato Sauce, Chicken, Green Pepper, Sweet Corn Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $19</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $16</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/pepperoni.png" alt="">
        <p class="pizza_type"><strong>Pepperoni</strong><br>
        Tomato Sauce, Pepperoni, Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $18</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $17</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/haw.png" alt="">
        <p class="pizza_type"><strong>Hawaiin Pizza</strong><br>
        Tomato Sauce, Pineapple, Bacon, Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $17</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $13</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/veg.png" alt="">
        <p class="pizza_type"><strong>Vegetarian Pizza</strong><br>
        Tomato Sauce, Onions, Black Olives, Green Pepper, Sweet Corn, Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $18</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $14</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="images/supremo.png" alt="">
        <p class="pizza_type"><strong>Pizza Supremo</strong><br>
        Tomato Sauce, BBQ Steak, Chicken, Onions, Green Pepper, Pepperoni, Minced Meat Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $21</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $19</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>
<div class="grid grid--1x2 container_order">
    <div>
        <img class="order_image" src="/images/pizza special offers.jpg" alt="">
        <p class="pizza_type"><strong>Pizza Supremo</strong><br>
        Tomato Sauce, BBQ Steak, Chicken, Onions, Green Pepper, Pepperoni, Minced Meat Chesse</p>
    </div>
    <div class="container_btn">
        <p class="pizza_text"><strong>Large</strong>  $21</p><a href="#"><button class="btn_order">Order</button></a>
        <p class="pizza_text"><strong>Medium</strong>  $19</p><a href="#"><button class="btn_order">Order</button></a>            
    </div>
</div>