<blockquote class="quote">
    <p class="quote__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero impedit autem fugiat corporis odio optio!</p>
    <footer>
        <div class="media">
            <div class="media__image quote__line">
                <img class="image__minus" src="images/minus.png" alt="">
            </div>
            <div class="media__body">
                <h3 class="media__title media__author">Lauren</h3>
            </div>
        </div>
        
    </footer>
</blockquote>

