<section class="body_stickynav">
    <nav class="nav1">
        <div class="container4">
            <h1 class="logo"><a href="#">My Website</a></h1>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Take-Away</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="container4">
            <h1>Contact Us</h1>
            <p>Give Us A Call Or Drop By Anytime.</p>
        </div>
    </div>

    <section class="container4 content1">
        <h2>Content One</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quibusdam modi, recusandae totam repudiandae, nisi consectetur optio, delectus rerum praesentium minus architecto. Possimus eligendi debitis atque earum maxime in deleniti, voluptatum distinctio. Accusantium quod illum tempore at nisi laudantium fuga nihil excepturi! Eligendi, dolorum rerum maxime rem commodi deserunt libero!</p>


    </section>


</section>