<div class="card testimonial" style="padding: 5rem;">
    <div class="grid grid--1x2">
        <img class="image__test testimonial__image" src="images/zzz.png" alt="A happy smiling, customer">
        <blockquote class="quote">
            <p class="quote__text">Best Pizza I have ever tasted! cheesy look, sumptuous taste and good customer service.</p>
            <footer>
                <div class="media">
                    <div class="media__image quote__line">
                        <img class="image__minus" src="images/minus.png" alt="">
                    </div>
                    <div class="media__body">
                        <h3 class="media__title media__author">Lauren</h3>
                    </div>
                </div>
                
            </footer>
        </blockquote>
        
        
    </div>
</div>

